@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

:root {
  --bg-yellow: hsl(48, 100%, 50%);
  --bg-black: hsl(0, 0%, 0%);
  --bg-white: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
}

button {
  border-style: none;
  cursor: pointer;
}

.bg--yellow {
  background-color: var(--bg-yellow);
}

.bg--black {
  background-color: var(--bg-black);
}

.text--yellow {
  color: var(--bg-yellow);
}


/* HEADER STYLES */

.header {
  position: fixed;
  width: 100%;
  height: 63.69px;
  top: 0;
  z-index: 99;
  background-color: var(--bg-black);
}


.nav {
  display: flex;
  height: 100%;
  align-items: center;
}

.container {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--bg-white);
}

.btn_nav {
  background-color: var(--bg-yellow);
  color: var(--bg-black);
  border-radius: 10px;
  font-weight: 900;
  font-size: 16px;
  padding: 14px 38px;
}

.btn_nav:hover {
  background-color: var(--bg-white);
  color: var(--bg-yellow);
  outline: 2px solid var(--bg-yellow);
}


/* REGISTRO STYLES */

.container_form {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  text-align: center;
  background-color: var(--bg-yellow);
}

.info_registro {
  display: grid;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}

.info_registro,
.form_registro {
  width: 1040px;
  height: 245px;
}

.title_registro {
  font-family: 'Roboto Condensed';
  width: 822px;
  margin: 0 auto;
  color: var(--bg-white);
  font-weight: 600;
  font-size: 21px;
  text-transform: uppercase;
}

.title_registro span {
  background-color: var(--bg-yellow);
  color: var(--bg-black);
}

.form_registro {
  display: grid;
  align-items: center;
  background-color: var(--bg-white);
  border-radius: 0px 0px 15px 15px;
}

.inputs_registro {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.input1,
.input2 {
  display: grid;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
}

.inputs_registro input {
  width: 251px;
  height: 37px;
  border: 1px solid var(--bg-black);
  border-radius: 10px;
  padding: 5px;
}

.content_btn {
  margin-top: -50px;
}


/* LAPTOPS */
@media screen and (max-width: 1200px) {
  .info_registro,
  .form_registro {
    width: 100%;
  }

  .title_registro {
    width: 95%;
    font-size: 22px;
  }
}

@media screen and (max-width: 992px) {
  .info_registro,
  .form_registro {
    width: 98%;
    height: 345px;
    margin: 0 auto;
  }

  .title_registro {
    width: 92%;
    font-size: 28px;
  }

  .inputs_registro {
    gap: 30px;
  }

  .inputs_registro input {
    width: 330px;
  }

  .btn_nav {
    font-size: 14px;
  }
}

/* TABLETS */
@media screen and (max-width: 768px) {

  .info_registro,
  .form_registro {
    width: 100%;
    height: 47vh;
    border-radius: 0px;
  }

  .title_registro {
    width: 98%;
    font-size: 28px;
  }

  .inputs_registro {
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .inputs_registro input {
    width: 370px;
  }

  .form_registro {
    display: grid;
    align-items: center;
    height: 48.30vh;
  }
  
}


/* MOBILES */
@media screen and (max-width: 600px) {
  .info_registro,
  .form_registro {
    width: 100%;
    height: 47.13vh;
  }

  .title_registro {
    width: 90%;
    font-size: 24px;
  }

  .inputs_registro {
    gap: 20px;
  }

  .inputs_registro input {
    width: 320px;
  }
}
