@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

:root {
  --bg-yellow: hsl(48, 100%, 50%);
  --bg-black: hsl(0, 0%, 0%);
  --bg-white: rgb(255, 255, 255);
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

::-webkit-scrollbar {
    display: none;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
}

.bg--yellow {
  background-color: var(--bg-yellow);
}

.bg--black {
  background-color: var(--bg-black);
}

.text--yellow {
  color: var(--bg-yellow);
}


/* HEADER STYLES */

.header {
  position: fixed;
  width: 100%;
  height: 63.69px;
  top: 0;
  z-index: 99;
  background-color: var(--bg-black);
}

.nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--bg-white);
}

.btn_nav {
  background-color: var(--bg-yellow);
  color: var(--bg-black);
  border-radius: 10px;
  font-weight: 900;
  font-size: 14px;
  padding: 10px 17px;
}

.btn_nav:hover {
  background-color: var(--bg-black);
  color: var(--bg-yellow);
  outline: 2px solid var(--bg-yellow);
}


/* HERO STYLES */

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero_info {
  width: 859px;
  margin-top: -50px;
}

.hero_img {
  position: static;
  width: 1034px;
  margin-top: 35px;
  margin-right: 59px;
}

.text_hero {
  margin-bottom: 55px;
}

.btn_primry {
  background-color: var(--bg-black);
  color: var(--bg-white);
  border-radius: 13px;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 19px;
}

.btn_primry:hover {
  background-color: var(--bg-white);
  color: var(--bg-black);
  outline: 2px solid var(--bg-black);
  font-weight: 900;
}


/* MAIN STYLES */

.main {
  width: 100%;
  margin-top: 67px;
}


/* SECTION 2 STYLES */

.section2,
.section5 {
  margin: 130px 0 90px 0;
  text-align: center;
}

.content_marcas {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 42px;
  margin-top: 68px;
  margin-bottom: 42px;
  text-transform: uppercase;
}

.text_section2,
.text_section5 {
  width: 100%;
  max-width: 1018px;
  margin: 0 auto;
}


/* SECTION 3 STYLES */

.content_section3 {
  display: flex;
  align-items: center;
  gap: 150px;
  padding-top: 56px;
}

.info_section3 {
  width: 100%;
  max-width: 612px;
  margin-top: -30px;
}

.img_section3 img{
  width: 460px;
}

.text--white {
  width: 100%;
  max-width: 610px;
  font-size: 40px;
  color: var(--bg-white);
}

.text--white span {
  color: var(--bg-black);
}

.text_section3 {
  color: var(--bg-white);
}

.logos_empresas {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  margin-top: 65px;
}


/* SECTION 4 STYLES */

.content_section4 {
  display: flex;
  height: 564px;
  align-items: center;
}

.info_section4 {
  width: 520px;
}

.img_section4 {
  position: relative;
  bottom: -105px;
  right: 3%;
}

.img_section4  img{
  width: 730px;
}


/* SECTION 5 STYLES */

.section5 {
  margin-top: 250px;
}

.btn--modify {
  margin: 0 auto;
}

.content_btn {
  margin-top: 42px;
}


/* FOOTER STYLES */

.footer {
  display: flex;
  height: 261px;
  align-items: center;
  justify-content: space-between;
}

.logo_footer {
  font-size: 28px;
  color: var(--bg-yellow);
}

.title_footer {
  font-weight: 800;
  font-size: 22px;
  color: var(--bg-white);
}

.socials,
.title_footer {
  transform: translateX(-75px);
}

.social {
  fill: var(--bg-white);
}

.social:hover {
  fill: var(--bg-yellow);
}

.info_footer {
  display: flex;
  gap: 40px;
}

.content {
  display: flex;
  gap: 28px;
  flex-direction: column-reverse;
  align-items: center;
}

.footer {
  background-color: var(--bg-black);
}

.container_footer {
  display: flex;
  justify-content: space-between; 
}



/* LAPTOPS */

@media screen and (max-width: 1200px) {

  .container {
    width: 90%;
  }

  .title {
    font-size: 35px;
  }

  .hero_info {
    width: 100%;
    max-width: 859px;
  }

  .hero_img {
    width: 120%;
    margin-right: 0;
  }

  .content_section3 {
    gap: 50px;
  }

  .info_section3 {
    width: 600px;
  }

  .img_section3 img{
    width: 350px;
  }

  .logos_empresas {
    width: 95%;
    gap: 40px;
  }

  .img_section4  img{
    width: 550px;
    padding-left: 40px;
  }

  .info_section4 {
    width: 48%;
  }

  .img_section4 {
    transform: translateY(50px);
  }
  
}

/* LAPTOPS */

@media screen and (max-width: 992px) {
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .img_section4  img{
    width: 470px;
  }

  .info_section4 {
    width: 48%;
  }

  .img_section4 {
    transform: translateY(80px);
  }

  .btn_primry {
    font-size: 17px;
  }
}


/* TABLETS */

@media screen and (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .padding-top {
    margin-top: 110px;
  }

  .hero_section {
    display: flex;
    justify-content: center;
  }

  .hero_info {
    order: 0;
  }

  .hero_img {
    width: 80%;
    order: 1;
  }

  .section2 {
    margin-top: 340px;
  }

  .section3 {
    margin-top: 150px;
  }

  .content_marcas,
  .logos_empresas {
    gap: 10px;
  }

  .content_section3,
  .content_section4 {
    height: 880px;
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .content_section4 {
    height: 800px;
  }

  .img_section4  img{
    width: 500px;
    margin: 0 auto;
  }

  .img_section4 {
    transform: translateY(0);
  }

  .info_section4 {
    width: 90%;
    padding-top: 160px;
  }

  .footer {
    justify-content: center;
  }

  .container_footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 30px;
  }
  
  .logo_footer {
    font-size: 28px;
    color: var(--bg-yellow);
  }
  
  .title_footer {
    font-weight: 800;
    font-size: 22px;
    color: var(--bg-white);
  }
  
  .socials,
  .title_footer {
    transform: translateX(0);
  }
  
  .info_footer {
    gap: 25px;
  }

  .content {
    gap: 30px;
    flex-direction: column;
  }

}

/* MOBILES */

@media screen and (max-width: 600px) {
  .header {
    height: 100px;
  }

  .info_section3 {
    width: 90%;
    max-width: 612px;
    margin-top: -30px;
  }

  .btn_primry {
    font-size: 15px;
  }

  .btn_nav {
    font-size: 12px;
  }

  .container {
    width: 95%;
  }

  .title {
    font-size: 30px;
  }

  .content_marcas,
  .logos_empresas {
    gap: 20px;
  }

  .img_section3 img{
    width: 300px;
  }

  .img_section4  img{
    width: 460px;
  }

  .section2 {
    margin-top: 100px;
  }
}